@font-face {
  font-family: "cabinet grotesk";
  src: url("/fonts/CabinetGrotesk-Variable.woff2") format("truetype");
  font-weight: 400 ;
  font-display: swap;
  font-style: normal;
}



@font-face {
  font-family: "tanker";
  src: url("/fonts/Tanker-Regular.woff2") format("truetype");
  font-weight: 400 ;
  font-display: swap;
  font-style: normal;
}



