@import url(fonts.css);

:root {
  --font-comics: 'cabinet grotesk';
  --font-sans: 'Spline Sans Mono';
  --font-serif: serif;
  --font-mono: 'Compagnon';
  --font-big: 'tanker';
  --color-text: #2f1e2d;
  --color-accent: grey;
  --color-grey: #ccc;
  --color-white: #fff;
  --color-body: blue;
  --color-ju: var(--color-text);
  --color-clem: rgb(26, 77, 180);
  --color-clem: var(--color-text);
  --color-stroke: var(--color-text);
  --color-primary: #9311ff;
}
body {
  /* text-transform: uppercase; */
  font-family: var(--font-comics);
  font-size: 20px;
  padding-bottom: 30em;
}
* * {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
[id] {
  scroll-margin: 4em;
}
.logo {
  max-width: 20ch;
  display: block;
  margin: 5em auto 0;
}
.intro {
  max-width: 40ch;
  margin: 1em auto 3em;
  padding: 1em;
  text-align: justify;
  hyphens: auto;
}
.things {
}
h1 {
  width: max-content;

  margin: 0 auto;
  margin-top: 4em;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 16px;
  text-decoration-thickness: 4px;
}

.ju {
  color: var(--color-ju);
}

.clem {
  color: var(--color-clem);
}
h1::after {
  /* content: ''; */
  display: block;
  height: 1em;
  width: 1px;
  background: black;
  margin: 0 auto;
}

.menubar nav {
  position: sticky;
  top: 0;
}
.menubar nav ul {
  list-style-type: none;
  justify-content: space-around;
  display: flex;
  flex-wrap: nowrap;
}

.menubar nav li span {
  text-decoration: overline;
  position: relative;
  background: white;
  padding: 0.2em 2ch;
}

.menubar nav li::before {
  /* height: 1.4em; */
  /* width: 1px; */
  /* margin: 0 auto; */
  /* content: ''; */
  /* background: black; */
  /* display: block; */
}

/* date */

.date {
  border: 3px solid black;
  width: max-content;
  background: black;
  color: white;
  margin: 2em auto 3em;
  top: 1em;
  display: block;
  padding: 0 0.5ch;
  z-index: 3000;
  box-shadow: 9px 9px 0 0 white, 12px 12px 0 0 black;
  position: relative;
}

/*dialog*/

.dialog {
  --portrait: 40px;
  display: grid;
  grid-template-columns: [juface] var(--portrait) [ju] 1fr [overlap] 2fr [clem] 1fr [clemface] var(
      --portrait
    );
  grid-template-rows: [text] auto [portrait-start] auto [portrait-end];
  width: clamp(300px, 75vw, 800px);
  margin: 0 auto;
  position: relative;
  gap: 0 2ch;
  margin-bottom: 3em;
}

.dialog .content {
  grid-row: text;
  padding: 0 20%;
  margin-bottom: 1rem;
}

.dialog .content * {
  background: white;
}

.dialog .content p {
  margin: 0;
}
.dialog .content p + p {
  margin-top: 0.7em;
}

.ju .content {
  grid-column: ju / clem;
}

.clem .content {
  grid-column: overlap / clemface;
}

/*portrait*/
.face {
  border-radius: 50%;
  width: 40px;
  left: -5em;
  align-self: bottom;
  grid-row: 2;
  margin-top: 2em;
  grid-row: 1 / -1;
  align-self: end;
  transform: scaleX(-1);
}

.ju .face {
  grid-column: juface;
}
.face img {
  width: 100%;
}
.clem .face {
  grid-column: clemface;
}
.dialog .content {
  text-align: center;
}

/*dialogline*/
.dialoglines {
  grid-row: portrait;
  z-index: -1;
}
.dialoglines svg path {
  stroke-width: 0.5;
}
.ju .dialoglines {
  grid-column: ju / clem;
}
.ju .dialoglines .right {
  display: none;
}
.clem .dialoglines {
  grid-column: overlap / clemface;
}

.clem .dialoglines .left {
  display: none;
}
.onomatop .content {
  font-family: var(--font-big);
  font-size: 3em;
}

/*a propos*/
#apropos {
  display: none;
}

#apropos:target {
  display: block;
  position: fixed;
  background: var(--color-text);
  color: var(--color-white);
  top: 10vh;
  left: 10vw;
  width: 30ch;
  z-index: 8000;
  padding: 2em;
  box-shadow: 10px 10px 0 0 var(--color-body), 10px 10px 0 0 var(--color-white);
}

.submenu a {
  position: fixed;
  background: white;
  font-family: var(--font-big);
  text-transform: uppercase;
  top: 30px;
  left: 30px;
}

a {
  color: inherit;
}
a:hover {
  color: var(--color-text);
  background: var(--color-white);
}

/*logo la head*/
.head-logo {
  filter: hue-rotate(290deg) brightness(4);
  margin-top: 2em;
  width: 100px;
}

.fun {
  position: absolute;
  left: 0;
  color: var(--color-primary);
  transform: rotate(-12deg);
  font-family: cursive;
  grid-column: 1;
}

.demo {
  font-family: var(--font-sans);
  max-width: 50vw;
  margin: 2em auto;
  padding: 1em;
  font-weight: 100;
  font-size: 0.8em;
  line-height: 1.5;
}
.demo .date {
  margin-bottom: 4em;
}
.wrapperdemo {
  align-content: center;
  margin: 2em auto;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 1fr);
}
.demo .screenshot {
  margin: 2em 0;
  grid-column: 1 / -1;
  width: 120%;
  height: 50vh;
  max-height: 80vh;
}

.resizer {
  resize: both;
  overflow: hidden;
  transition: all 500ms ease-out;
}

.demo iframe {
  box-shadow: 0 0 0 10px white;
  border: none;
  width: 100%;
  height: 99%;
  padding: 0;
  z-index: 1;
  background: var(--frame-back);
  background-size: 40%;
}

.demo .content {
  max-width: 75ch;
}

.demo h2 {
  font-family: var(--font-big);
  font-weight: 300;
  letter-spacing: 0.05ch;
}

.demo .screenshot::after {
  content: attr(data-width) 'px × ' attr(data-height) 'px';
  text-align: right;
  margin: 1em auto;
  text-align: center;
  display: block;
  position: absolute;
  text-align: center;
  /* bottom: -2em; */
  /* grid-row: 2; */
  /* bottom: 0; */
}

iframe:hover {
  filter: none;
}

.credits {
  font-size: 0.8em;
  font-style: italic;
}

.screenshot {
  /* flex-direction: column;display: flex; */
  /*   align-items: center; */
  margin-bottom: 2em;
  /*   justify-content: center; */
}

.menubar {
  display: block;
}
.toc {
  left: 20px;
  top: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 3000;
  color: var(--color-clem);
}
.toc svg {
  width: 40px;
  fill: inherit;
}
.toc ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.toc li {
  position: relative;
  color: var(--color-primary, red);
}
.toc li:hover {
}
.toc li span {
  padding: 0.4em 0.4ch 0.3em;
  position: absolute;
  width: max-content;
  left: 50px;
  top: 0;
  background: var(--color-primary);
  color: white;
  display: none;
}

.toc li:hover span {
  display: block;
}
footer {
  min-height: 100vmax;
  background: black;
}
.screenshot.play iframe {
  transition: all 100ms;
  background: transparent;
}

.mail {
  --portrait: 200px;
  display: grid;
  grid-template-columns: [juface] var(--portrait) [ju] 1fr [overlap] 2fr [clem] 1fr [clemface] var(
      --portrait
    );
  width: clamp(270px, 70vw, 1000px);
  margin: 10em auto;
  color: var(--color-clem);
  /* border: 7px solid var(--color-writer); */
  /* border-radius: 255px 15px 225px 15px/15px 225px 15px 255px; */
}

.mail h4.date {
  grid-column: 1/-1;
  grid-row: 1;
}

.mail > img {
  grid-row: 2;
  background: white;
  align-self: end;
  width: 100%;
}
.mail section {
  background-size: 8px 8px;
  background-position: center;
  position: relative;
  border: 2px solid var(--color-text);
  padding: 2em;
  max-height: 40vh;
  overflow: auto;
  font-family: var(--font-mono);
  font-size: 0.9em;
  line-height: 1.2;
  padding: 1em;
  /* background: rgb(235, 190, 186); */
  /* background: linear-gradient(white 1px, transparent 1px); */
  color: rgb(16, 50, 73);
  /* color: white; */
  font-weight: 500;
  background-attachment: scroll;
}
.mail.clem section {
  grid-column: ju / -1;
}
.mail h2 {
  font-size: 3em;
}
.mail header {
  font-weight: 500;
}

.talk .screenshot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  background-color: black;
}

.talk .screenshot {
  width: 280px;
  height: 280px;
  position: relative;
  display: block;
  border: 2px solid black;
  margin-left: -4em;
  margin-right: 2em;
}
.talk .screenshot::after {
  content: '';
  position: absolute;
  right: -80px;
  background: radial-gradient(
    circle,
    rgba(10, 10, 10, 1) 0%,
    rgba(43, 43, 43, 1) 2%,
    rgba(10, 10, 10, 1) 12%,
    rgba(98, 98, 98, 1) 13%,
    rgba(10, 10, 10, 1) 14%,
    rgba(10, 10, 10, 1) 34%,
    rgba(80, 80, 80, 1) 35%,
    rgba(10, 10, 10, 1) 36%,
    rgba(10, 10, 10, 1) 50%,
    rgba(55, 55, 55, 1) 52%,
    rgba(10, 10, 10, 1) 54%,
    rgba(10, 10, 10, 1) 74%,
    rgba(42, 42, 42, 1) 74%,
    rgba(10, 10, 10, 1) 75%,
    rgba(10, 10, 10, 1) 85%,
    rgba(60, 60, 60, 1) 86%,
    rgba(10, 10, 10, 1) 88%,
    rgba(10, 10, 10, 1) 100%
  );
  border-radius: 50%;
  width: 90%;
  height: 90%;
  top: 4px;
  z-index: -1;
}

.talk {
  display: block;
}

.talk .audioplayer.active {
  position: fixed;
  bottom: 0;
  background: white;
  width: 100%;
  left: 0;
  border-top: 3px solid black;
  background: black;
  z-index: 40000;
  padding: 0 10em;
}

.talk .audioplayer.active::before {
  content: attr(data-caption);
  position: absolute;
  top: -0.8em;
  font-style: italic;
  padding-top: 0.2em;
  width: 100%;
  left: 0;
  text-align: center;
  background: black;
  color: white;
}

.talk {
  gap: 1em;
  margin: 10em auto;
  width: clamp(300px, 45vw, 700px);
  /* display: grid; */
  /* grid-template-columns: [intro] 1fr [disc-start] 1fr [disc-end]; */
}
.talk img {
  display: block;
  float: left;
  margin-right: 2em;
  margin-bottom: 2em;
}

.talk .date {
  grid-row: 1;
  grid-column: 1 / -1;
}

.listening {
  display: none;
}
.listening em {
  color: var(--color-primary);
}
.active + .listening {
  display: block;
  font-size: 1em;
}

.section-wrapper .dialog {
  /* transition: 1000ms all ease-out; */
  visibility: hidden;
  transition: all 1000ms ease-out;
}

.section-wrapper .shown {
  animation: 120ms fadeIn;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.observationObsMan {
  z-index: -2;
  inset: 3vh 0;
  position: fixed;
}

.activated svg {
  transition: all 10ms;
  fill: var(--color-primary);
  width: 60px;
}

section {
scroll-snap-type: y mandatory;
}
