
<section class="menubar">
  <nav>
    <ul>
      <li><span>journal</span></li>
      <li><span>entretiens</span></li>
      <li><span>experiences</span></li>
      <li><span>outils</span></li>
    </ul>
  </nav>
</section>
