<section id="{{ sequence.data.title | slugify  }}" class="talk">
    <h4 class="date">
        <date>{{ sequence.data.date | ladate }}</date>
    </h4>
    <section>
        <header>
            <h2>{{ sequence.data.title }}</h2>
            <p>{{ sequence.data.website }}</p>
        </header>
        {{ sequence.templateContent | safe }}
    {% include "./audioplayer.njk" %}
    </section>
    <a target="_blank" class="screenshot" href="{{ sequence.data.website }}">
        <img class="audiocover" src="/images/{{ sequence.data.image }}" />
    </a>
</section>
