
<aside class="toc">
<nav>
<ul>
{% for sequence in collections.sequences %}

  {% if not sequence.data.order == "" %}

    {% if sequence.data.type == "chat" %}
      <li {% if loop.index == 1 %}class="activated"{% endif %} id="toc-{{sequence.data.title | slugify}}"><a href="#{{sequence.data.title | slugify}}">{% include "../icons/iconTalk.njk" %}<span>{{sequence.data.title}}</span></a></li> 

    {% elif sequence.data.type == "demo" %}
      <li {% if loop.index == 1 %}class="activated"{% endif %} id="toc-{{sequence.data.title | slugify}}"><a href="#{{sequence.data.title | slugify}}">{% include "../icons/sequences.njk" %}<span>{{sequence.data.title}}</span></a></li> 

    {% elif sequence.data.type == "mail" %}
      <li {% if loop.index == 1 %}class="activated"{% endif %} id="toc-{{sequence.data.title | slugify}}"><a href="#{{sequence.data.title | slugify}}">{% include "../icons/iconText.njk" %}<span>{{sequence.data.title}}</span></a></li> 

    {% elif sequence.data.type == "talk" %}
      <li {% if loop.index == 1 %}class="activated"{% endif %} id="toc-{{sequence.data.title | slugify}}"><a href="#{{sequence.data.title | slugify}}">{% include "../icons/iconTalk.njk" %}<span>{{sequence.data.title}}</span></a></li> 

    {% endif %}

  {% endif %}
{% endfor %}
</ul>
</nav>
</aside>
