
@font-face {
    font-family:"Kalam Light";
    src:url("Kalam-Light.woff2") format("woff2"),url("Kalam-Light.woff") format("woff"),url("Kalam-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        