{% extends "base.njk" %}
{% block headerSup %}
    <link rel="stylesheet"
          type="text/css"
          href="{{ "/css/green-audio-player.css" | url }}">
    <script src="{{ "/js/green-audio-player.js" | url }}"></script>
{% endblock headerSup %}
{% block menu %}
    {% include "./modules/menu.njk" %}
    {% include "./modules/toc.njk" %}
{% endblock %}
{% block content %}
    <div class="observationObsMan"></div>
    <div class="section-wrapper" class="{{sequence.data.type}}">
        {% for sequence in collections.sequences  %}
            {% if not sequence.data.order == "" %}
                {% if sequence.data.type == "chat" %}
                    {% include "./modules/chat.njk" %}
                {% elif sequence.data.type == "demo" %}
                    {% include "./modules/demo.njk" %}
                {% elif sequence.data.type == "mail" %}
                    {% include "./modules/mail.njk" %}
                {% elif sequence.data.type == "talk" %}
                    {% include "./modules/talk.njk" %}
                {% else %}
                    {{ sequence.templateContent | safe }}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}
{% block footer %}
{% endblock footer %}
{% block endscripts %}
    <script> GreenAudioPlayer.init({
  selector: '.audioplayer', // inits Green Audio Player on each audio container that has class "player"
  stopOthersOnPlay: true
  });
    </script>
    {# <script src="/js/leader-line.min.js"></script> #}
    {# <script src="/js/dialoglines.js"></script> #}
{% endblock endscripts %}
